@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-primary: #10b981;
  --color-accent: #06b6d4;
  --color-bg-dark: #0f172a;
  --color-bg-card: #1e293b;
  --color-text: #f1f5f9;
  --color-text-muted: #94a3b8;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-bg-dark);
  color: var(--color-text);
}

code {
  font-family: var(--font-mono);
}
